@tailwind base;
@tailwind components;
@tailwind utilities;

.owner {
  flex-direction: row-reverse;
}

.owner p {
  background-color: #30acc5;
  color: white;
  border-radius: 10px 0 10px 10px;
}

.owner .messageContent {
  align-items: flex-end;
}
